// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
// a. Theme colors
$primary: #131425;
$secondary: #85248d;
$opacity-white: rgba(255, 255, 255, 0.45);
$field-grey: #0c0d15;
$field-grey-transparency: rgba(106, 106, 111, 0.5);

$modal-bg: $primary;
$input-placeholder-color: $opacity-white;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "field-grey": $field-grey,
  "field-grey-transparency": $field-grey-transparency,
  "opacity-white": $opacity-white,
);

// b. Standard fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://fonts.gstatic.com/s/arimo/v17/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcDRrBZQI.woff2");

$font-family-base: 'Arimo', 'Montserrat', sans-serif;

//c. margin and padding spacers
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
);

$position-values: (
  0: 0%,
  half: 0.5%,
  1: 1%,
  2: 2%,
  3: 3%,
  4: 4%,
  5: 5%,
  6: 6%,
  7: 7%,
  8: 8%,
  9: 9%,
  10: 10%,
  11: 11%,
  12: 12%,
  13: 13%,
  14: 14%,
  15: 15%,
  16: 16%,
  17: 17%,
  18: 18%,
  19: 19%,
  20: 20%,
  21: 21%,
  22: 22%,
  23: 23%,
  24: 24%,
  25: 25%,
  26: 26%,
  27: 27%,
  28: 28%,
  29: 29%,
  30: 30%,
  31: 31%,
  32: 32%,
  33: 33%,
  34: 34%,
  35: 35%,
  36: 36%,
  37: 37%,
  38: 38%,
  39: 39%,
  40: 40%,
  41: 41%,
  42: 42%,
  43: 43%,
  44: 44%,
  45: 45%,
  46: 46%,
  47: 47%,
  48: 48%,
  49: 49%,
  50: 50%,
  51: 51%,
  52: 52%,
  53: 53%,
  54: 54%,
  55: 55%,
  56: 56%,
  57: 57%,
  58: 58%,
  59: 59%,
  60: 60%,
  61: 61%,
  62: 62%,
  63: 63%,
  64: 64%,
  65: 65%,
  66: 66%,
  67: 67%,
  68: 68%,
  69: 69%,
  70: 70%,
  71: 71%,
  72: 72%,
  73: 73%,
  74: 74%,
  75: 75%,
  76: 76%,
  77: 77%,
  78: 78%,
  79: 79%,
  80: 80%,
  81: 81%,
  82: 82%,
  83: 83%,
  84: 84%,
  85: 85%,
  86: 86%,
  87: 87%,
  88: 88%,
  89: 89%,
  90: 90%,
  91: 91%,
  92: 92%,
  93: 93%,
  94: 94%,
  95: 95%,
  96: 96%,
  97: 97%,
  98: 98%,
  99: 99%,
  100: 100%,
);

//complement mappings

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

//d. Sizing


$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: (
          auto: auto,
          0: 0%,
          1: 1%,
          2: 2%,
          3: 3%,
          4: 4%,
          5: 5%,
          6: 6%,
          7: 7%,
          8: 8%,
          9: 9%,
          10: 10%,
          11: 11%,
          12: 12%,
          13: 13%,
          14: 14%,
          15: 15%,
          16: 16%,
          17: 17%,
          18: 18%,
          19: 19%,
          20: 20%,
          21: 21%,
          22: 22%,
          23: 23%,
          24: 24%,
          25: 25%,
          26: 26%,
          27: 27%,
          28: 28%,
          29: 29%,
          30: 30%,
          31: 31%,
          32: 32%,
          33: 33%,
          34: 34%,
          35: 35%,
          36: 36%,
          37: 37%,
          38: 38%,
          39: 39%,
          40: 40%,
          41: 41%,
          42: 42%,
          43: 43%,
          44: 44%,
          45: 45%,
          46: 46%,
          47: 47%,
          48: 48%,
          49: 49%,
          50: 50%,
          51: 51%,
          52: 52%,
          53: 53%,
          54: 54%,
          55: 55%,
          56: 56%,
          57: 57%,
          58: 58%,
          59: 59%,
          60: 60%,
          61: 61%,
          62: 62%,
          63: 63%,
          64: 64%,
          65: 65%,
          66: 66%,
          67: 67%,
          68: 68%,
          69: 69%,
          70: 70%,
          71: 71%,
          72: 72%,
          73: 73%,
          74: 74%,
          75: 75%,
          76: 76%,
          77: 77%,
          78: 78%,
          79: 79%,
          80: 80%,
          81: 81%,
          82: 82%,
          83: 83%,
          84: 84%,
          85: 85%,
          86: 86%,
          87: 87%,
          88: 88%,
          89: 89%,
          90: 90%,
          91: 91%,
          92: 92%,
          93: 93%,
          94: 94%,
          95: 95%,
          96: 96%,
          97: 97%,
          98: 98%,
          99: 99%,
          100: 100%,
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "height": map-merge(
      map-get($utilities, "height"),
      (
        values: (
          auto: auto,
          0: 0%,
          1: 1%,
          2: 2%,
          3: 3%,
          4: 4%,
          5: 5%,
          6: 6%,
          7: 7%,
          8: 8%,
          9: 9%,
          10: 10%,
          11: 11%,
          12: 12%,
          13: 13%,
          14: 14%,
          15: 15%,
          16: 16%,
          17: 17%,
          18: 18%,
          19: 19%,
          20: 20%,
          21: 21%,
          22: 22%,
          23: 23%,
          24: 24%,
          25: 25%,
          26: 26%,
          27: 27%,
          28: 28%,
          29: 29%,
          30: 30%,
          31: 31%,
          32: 32%,
          33: 33%,
          34: 34%,
          35: 35%,
          36: 36%,
          37: 37%,
          38: 38%,
          39: 39%,
          40: 40%,
          41: 41%,
          42: 42%,
          43: 43%,
          44: 44%,
          45: 45%,
          46: 46%,
          47: 47%,
          48: 48%,
          49: 49%,
          50: 50%,
          51: 51%,
          52: 52%,
          53: 53%,
          54: 54%,
          55: 55%,
          56: 56%,
          57: 57%,
          58: 58%,
          59: 59%,
          60: 60%,
          61: 61%,
          62: 62%,
          63: 63%,
          64: 64%,
          65: 65%,
          66: 66%,
          67: 67%,
          68: 68%,
          69: 69%,
          70: 70%,
          71: 71%,
          72: 72%,
          73: 73%,
          74: 74%,
          75: 75%,
          76: 76%,
          77: 77%,
          78: 78%,
          79: 79%,
          80: 80%,
          81: 81%,
          82: 82%,
          83: 83%,
          84: 84%,
          85: 85%,
          86: 86%,
          87: 87%,
          88: 88%,
          89: 89%,
          90: 90%,
          91: 91%,
          92: 92%,
          93: 93%,
          94: 94%,
          95: 95%,
          96: 96%,
          97: 97%,
          98: 98%,
          99: 99%,
          100: 100%,
        ),
      ),
    ),
  )
);

//finally import full bs scss
@import "../node_modules/bootstrap/scss/bootstrap";
