li {
  list-style: none;
  /* display: inline-block; */
}

.window {
  --items-number: 15;
  --item-width: 82.5px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  width: calc(var(--items-number) * var(--item-width) * 100);
  height: 180px;
  right: 0px;
}

.wraper {
  position: relative;
  margin: auto;
  width: 100%;
  overflow-x: hidden;
  border-radius: 2px;
}

.roulette-list {
  padding-left: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
}

.roulette-list li {
  border-radius: 0.8rem;
  width: var(--item-width);
  height: 75px;
  font-size: 2rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 10px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

}

.roulette-list li:nth-child(even) {
  background-color: #262833;
  color: #fff;
}

.roulette-list li:nth-child(odd) {
  background-color: #b927ad;
  color: #262833;
}

.vegaz-roulette {
  background-image: url("../img/vegaz-roulette.png") !important; 
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-color: #fff !important;
}

.arrowup {
  position: absolute;
  bottom: 30px;
  right: calc(50% - 10px);
  z-index: 1;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f3f705;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  display: none;
}

.line {
  position: absolute;
  bottom: 16px;
  right: calc(50% + 3px);
  z-index: 1;
  width: 5px;
  border-radius: 5px;
  background-color: #fff;
  height: 150px;
}

.arrowdown {
  position: absolute;
  top: 30px;
  right: calc(50% - 10px);
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 15px solid #f3f705;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  display: none;
}

@keyframes choosen {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
}

/* past games boxes */
.roulette-result-even {
  border-radius: 0.8rem;
  width: 55px;
  height: 50px;
  font-size: 2rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 25px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #262833;
  color: #fff;
}

.roulette-result-odd {
  border-radius: 0.8rem;
  width: 55px;
  height: 50px;
  font-size: 2rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 25px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #b927ad;
  color: #262833;
}

.roulette-result-vegaz-roulette {
  border-radius: 0.8rem;
  width: 55px;
  height: 50px;
  font-size: 2rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 25px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../img/vegaz-roulette.png") !important; 
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-color: #fff !important;
}


/* betting buttons */
.roulette-betting-even {
  border-radius: 0.8rem;
  border-color: var(--white-color);
  width: 82.5px;
  height: 75px;
  font-size: 3rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 25px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #262833;
  color: #fff;
}

.roulette-betting-odd {
  border-radius: 0.8rem;
  border-color: var(--white-color);
  width: 82.5px;
  height: 75px;
  font-size: 3rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 25px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #b927ad;
  color: #262833;
}

.roulette-betting-vegaz {
  border-radius: 0.8rem;
  border-color: var(--white-color);
  width: 82.5px;
  height: 75px;
  font-size: 3rem;
  font-weight: bolder;
  color: #b927ad;
  margin: 0 25px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-color: #fff !important;
}